.profile {
   display: flex;
   flex-direction: column;
   padding: 74px 70px 0;
   margin: 0 auto;
}

@media screen and (max-width: 885px) {
   .profile {
      padding: 236px 30px 0;
   }
}

@media screen and (max-width: 485px) {
   .profile {
      padding: 70px 30px 0;
   }
}