.profile__container {
   display: flex;
   margin: 0 auto 5px;
   padding: 0 0 16px;
   border-bottom: solid 1px #E8E8E8;
   width: 410px;
   justify-content: space-between;
}

.profile__container:last-of-type {
   padding: 0;
   border-bottom: none;
}

@media screen and (max-width: 485px) {
   .profile__container {
      width: 260px;
   }
}