.page404__info {
   margin: 0 0 184px;
   padding: 0;
   color: #A0A0A0;
   font-size: 16px;
   line-height: 19.36px;
   font-weight: 400;
}

@media screen and (max-width: 485px) {
   .page404__info {
      margin: 0 0 284px;
      font-size: 12px;
      line-height: 14.52px;
   }
}
