.navigation__redirect-button {
   padding: 0 0 4px;
   margin: 0 0 22px;
   background-color: #FFFFFF;
   text-decoration: none;
   border: none;
   color: #000000;
   font-size: 18px;
   line-height: 21.78px;
   font-weight: 500;
   cursor: pointer;
}

.navigation__redirect-button_active {
   border-bottom: solid 2px #000000;
}

.navigation__redirect-button:nth-child(3) {
   margin: 0 0 615px;
}

.navigation__redirect-button:hover {
   opacity: 0.6;
   transition: 0.5s ease;
}

@media screen and (max-width: 485px) {
   .navigation__redirect-button {
      margin: 0 0 24px;
   }
}

@media screen and (max-width: 485px) {
   .navigation__redirect-button:nth-child(3) {
      margin: 0 0 438px;
   }
}