.navigation {
   visibility: hidden;
   position: fixed;
   display: flex;
   justify-content: flex-end;
   top: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: opacity .4s linear, visibility .4s linear;
}

.navigation_opened {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 2;
   visibility: visible;
   opacity: 1;
}

