.moviesCardList__container {
   display: grid;
   margin: 0;
   padding: 0;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 32px 20px;
}

@media screen and (max-width: 1224px) {
   .moviesCardList__container {
      justify-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px 20px;
   }
}

@media screen and (max-width: 960px) {
   .moviesCardList__container {
      grid-template-columns: 1fr 1fr;
      gap: 36px 30px;
   }
}

@media screen and (max-width: 754px) {
   .moviesCardList__container {
      grid-template-columns: 1fr;
      gap: 20px;
   }
}

.moviesCardList__container_saved {
   margin: 0 0 170px;
   padding: 0;
}