.portfolio__flex {
   margin: 0 0 20px;
   padding: 0;
   border-bottom: solid 1px #E8E8E8;
   list-style-type: none;
}

.portfolio__flex:hover {
   opacity: 0.4;
   transition: 0.3s ease;
}

.portfolio__flex:last-child {
   margin: 0 0 125px;
   border-bottom: none;
}

@media screen and (max-width: 885px) {
   .portfolio__flex:last-child {
      margin: 0 0 90px;
   }
}

@media screen and (max-width: 485px) {
   .portfolio__flex:last-child {
      margin: 0 0 70px;
   }
}
