.techs__technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    border-radius: 10px;
    list-style-type: none; 
    background-color: #E8E8E8;
}

@media screen and (max-width: 885px) {
    .techs__description {
    font-size: 12px;
    line-height: 14.52px;
    }
}
