.techs {
   background-color: #F5F5F5;
   min-height: 525px;
   padding: 100px 70px 100px;
   margin: 0 auto;
}

@media screen and (max-width: 885px) {
   .techs {
      min-height: 477px;
      padding: 90px 50px 90px;
   }
}

@media screen and (max-width: 485px) {
   .techs {
      background-color: #FFFFFF;
      min-height: 511px;
      padding: 70px 14px 70px;
   }
}