.techs__subtitle {
   margin: 90px auto 26px;
   padding: 0;
   text-align: center;
   color: #000000;
   font-size: 50px;
   line-height: 58px;
   font-weight: 400;
   letter-spacing: -4%;
}

@media screen and (max-width: 885px) {
   .techs__subtitle {
      margin: 80px auto 22px;
   }
}

@media screen and (max-width: 485px) {
   .techs__subtitle {
      margin: 60px auto 24px;
      font-size: 30px;
      line-height: 36.31px;
   }
}
