.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 74px;
   padding: 0 70px;
   margin: 0 auto;
   background-color: #5C5C5C;
}

@media screen and (max-width: 885px) {
   .header {
      padding: 0 30px;
   }
}

@media screen and (max-width: 485px) {
   .header {
      padding: 0 14px;
   }
}