.moviesCard__delete {
   align-self: center;
   padding: 0;
   margin: 0 2px 0 0;
   background-image: url('../../../images/moviesCardDeleteButton.svg');
   background-color: white;
   width: 8px;
   height: 8px;
   border: 0;
   cursor: pointer;
}

.moviesCard__delete:hover {
   opacity: 0.6;
   transition: 0.5s ease;
}