.moviesCard__subscription {
   position: relative;
   width: 16px;
   height: 16px;
   border-radius: 50px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
   border: 0;
   background-color: #FFFFFF;
   cursor: pointer;
}

.moviesCard__subscription:hover {
   opacity: 0.8;
   transition: 0.3s ease;
}

.moviesCard__subscription_unchecked {
   position: absolute;
   top: 2px;
   left: 2px;
   height: 12px;
   width: 12px;
   border-radius: 50px;
   background-color: #F9F9F9;
   cursor: pointer;
}

.moviesCard__subscription_checked {
   position: absolute;
   top: 2px;
   left: 2px;
   height: 12px;
   width: 12px;
   border-radius: 50px;
   background-color: #2BE080;
   cursor: pointer;
}
