.footer__title {
   margin: 0 auto 20px;
   padding: 0;
   text-align: center;
   color: #A0A0A0;
   font-size: 13px;
   line-height: 15.73px;
   font-weight: 400;
}

@media screen and (max-width: 485px) {
   .footer__title {
      margin: 0 0 21px;
      font-size: 12px;
      line-height: 14.52px;
   }
}