.promo__image {
   margin: 0 auto 60px;
   position: absolute;
   right: 70px;
}

@media screen and (max-width: 885px) {
   .promo__image {
      margin: 0 auto 70px;
      width: 680px;
      height: 230px;
      right: 0;
      left: 0;
   }
}

@media screen and (max-width: 745px) {
   .promo__image {
      margin: 0 auto;
      width: 620px;
      object-fit: cover;
   }
}

@media screen and (max-width: 645px) {
   .promo__image {
      margin: 0 auto;
      width: 320px;
      object-fit: cover;
   }
}