.promo__title {
   position: relative;
   margin: 0 0 102px 0;
   max-width: 626px;
   padding-top: 50px;
   color: white;
   font-size: 40px;
   line-height: 52px;
   letter-spacing: -4%;
   font-weight: 400;
}

@media screen and (max-width: 885px) {
   .promo__title {
      max-width: 680px;
      text-align: center;
      padding-top: 300px;
      margin: 0 auto 140px;
   }
}

@media screen and (max-width: 485px) {
   .promo__title {
      max-width: 300px;
      padding-top: 183px;
      margin: 0 auto 60px;
      font-size: 29px;
      line-height: 39px;
   }
}
