.searchForm__flex {
   padding: 0;
   margin: 0 0 29px;
   display: flex;
   gap: 10px;
   align-items: center;
}

@media screen and (max-width: 885px) {
   .searchForm__flex {
      margin: 0 0 41px;
   }
}

@media screen and (max-width: 485px) {
   .searchForm__flex {
      margin: 0 0 47px;
   }
}