.aboutMe__grid {
   display: grid;
   margin: 66px 0 101px;
   grid-template-columns: 1fr 1fr;
   gap: 0 270px;
}

@media screen and (max-width: 1050px) {
   .aboutMe__grid {
      margin: 66px 0 91px;
      grid-template-columns: 1fr 1fr;
      gap: 0 49px;
   }
}

@media screen and (max-width: 685px) {
   .aboutMe__grid {
      grid-template-columns: 1fr;
      margin: 60px 0;
      gap: 40px;
   }
}