.aboutMe__photo {
   justify-self: end;
   object-fit: contain;
}

@media screen and (max-width: 950px) {
   .aboutMe__photo {
      max-width: 255px;
      max-height: 307px;
      object-fit: contain;
      justify-self: end;
   }
}

@media screen and (max-width: 685px) {
   .aboutMe__photo {
      max-width: 292px;
      max-height: 352px;
      justify-self: center;
      grid-row: 1/1;
   }
}