.aboutMe__git-link {
   margin: 0;
   padding: 0;
   color: #000000;
   text-decoration: none;
   font-size: 14px;
   line-height: 16.94px;
   font-weight: 500;
}

.aboutMe__git-link:hover {
   opacity: 0.6;
   transition: 0.5s ease;
}