.login__redirect-info {
   margin: 0;
   padding: 0;
   color: #A0A0A0;
   font-size: 14px;
   line-height: 16.94px;
   font-weight: 400;
}

@media screen and (max-width: 485px) {
   .login__redirect-info {
      font-size: 12px;
      line-height: 14.52px;
   }
}