.login__container {
   display: flex;
   justify-content: center;
   margin: 0 0 70px;
   padding: 0;
   gap: 6px;
}

@media screen and (max-width: 885px) {
   .login__container {
      margin: 0 0 232px;
   }
}

@media screen and (max-width: 485px) {
   .login__container {
      gap: 7px;
      margin: 0 0 30px;
   }
}
