.login {
   display: flex;
   flex-direction: column;
   padding: 70px 442px 0;
   margin: 0 auto;
}

@media screen and (max-width: 1260px) {
   .login {
      padding: 232px 250px 0;
   }
}

@media screen and (max-width: 885px) {
   .login {
      padding: 232px 186px 0;
   }
}

@media screen and (max-width: 750px) {
   .login {
      padding: 232px 100px 0;
   }
}

@media screen and (max-width: 485px) {
   .login {
      padding: 56px 30px 0;
   }
}